IPv4dev=wlan0
IPv4addr="{{ ansible_default_ipv4['address'] }}/24"
IPv4gw="{{ ansible_default_ipv4['gateway'] }}"
dhcpReserv=0
pivpnenableipv6=0
install_user=pi
VPN=openvpn
pivpnNET=10.0.0.0
subnetClass=24
pivpnPROTO=udp
pivpnPORT=1551
pivpnDNS1=9.9.9.9
pivpnDNS2=1.1.1.1
pivpnHOST=main-node.example.com
pivpnENCRYPT=256
pivpnSEARCHDOMAIN=main-node.example.com
TWO_POINT_FOUR=1
USE_PREDEFINED_DH_PARAM=1
UNATTUPG=1
